@model TeachMe.Models.CreateProfileViewModel

@{
    ViewBag.Title = "יצירת פרופיל";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>יצירת פרופיל חדש</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="panel panel-default" style="margin-bottom:0px;">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Age)
                    </div>
                    @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:0px;">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.City, Model.Cities, "בחר עיר", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.City)
                    </div>
                    @Html.Label("עיר", new { @class = "col-md-2 control-label" })
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Street)
                    </div>
                    @Html.LabelFor(m => m.Street, new { @class = "col-md-2 control-label" })
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.HomeNum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HomeNum)
                    </div>
                    @Html.LabelFor(m => m.HomeNum, new { @class = "col-md-2 control-label" })
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:0px;">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Category, Model.Cats, "בחר מקצוע", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Category)
                    </div>
                    @Html.Label("מקצוע", new { @class = "col-md-2 control-label" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LessonPrice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LessonPrice)
                    </div>
                    @Html.LabelFor(m => m.LessonPrice, new { @class = "col-md-2 control-label" })
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.LessonTime, Model.Time, "בחר", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LessonTime)
                    </div>
                    <label class="col-lg-2 control-label" for="select">זמן השיעור</label>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-10">
                        @Html.TextAreaFor(m => m.Education, new { @class = "form-control", @rows = 2 })
                        @Html.ValidationMessageFor(model => model.Education)
                    </div>
                    <label class="col-lg-2 control-label" for="textArea"> השכלה</label>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        @Html.TextAreaFor(m => m.About, new { @class = "form-control", @rows = 4 })
                        @Html.ValidationMessageFor(model => model.About)
                    </div>
                    <label class="col-lg-2 control-label" for="textArea">על עצמי...</label>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-8 col-md-2">
                        <input type="submit" value="צור פרופיל" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("חזרה לדף הבית", "Index", "Home")
</div>
