@model TeachMe.Models.CreateProfileViewModel

@{
    ViewBag.Title = "יצירת פרופיל";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>יצירת פרופיל חדש</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="panel panel-default">
            <div class="panel-heading">פרטים אישיים</div>
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-md-4">
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.PictureUrl)
                        @Html.TextBoxFor(m => m.PictureUrl, new { @class = "form-control", @type = "file", @placeholder = "גיל" })
                    </div>
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.Age)
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @placeholder = "גיל" })
                        @Html.ValidationMessageFor(m => m.Age)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Phone)
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "מספר טלפון" })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>

                    <div class="col-md-1">
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">כתובת</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-5">
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(m => m.City)
                        @Html.DropDownListFor(m => m.City, Model.Cities, "בחר עיר", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.City)
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Street)
                        @Html.TextBoxFor(m => m.Street, new { @class = "form-control", @placeholder = "שם רחוב" })
                        @Html.ValidationMessageFor(m => m.Street)
                    </div>

                    <div class="col-md-1">
                        @Html.LabelFor(m => m.HomeNum)
                        @Html.TextBoxFor(m => m.HomeNum, new { @class = "form-control", @placeholder = "מספר בית" })
                        @Html.ValidationMessageFor(m => m.HomeNum)
                    </div>

                    <div class="col-md-1">
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">פרטי השיעור</div>
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Category)
                        @Html.DropDownListFor(m => m.Category, Model.Cats, "בחר מקצוע", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Category)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.LessonPrice)
                        <div class="input-group" dir="ltr">
                            <span class="input-group-addon">₪</span>
                            @Html.TextBoxFor(m => m.LessonPrice, new { @class = "form-control", @placeholder = "מחיר לשיעור", @dir = "rtl" })
                        </div>
                        @Html.ValidationMessageFor(m => m.LessonPrice)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.LessonTime)
                        @Html.DropDownListFor(m => m.LessonTime, Model.Time, "בחר", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LessonTime)
                    </div>
                    <div class="col-md-1">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class=" panel-heading">אחר</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(m => m.About)
                            @Html.TextAreaFor(m => m.About, new { @class = "form-control", @rows = 5, @placeholder = "תיאור המורה" })
                            @Html.ValidationMessageFor(model => model.About)
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class=" panel-heading">השכלה</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(m => m.Institution)
                            @Html.GroupDropList("Institution", Model.Institutions, "", "בחר", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Institution)
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-11">
                            @Html.LabelFor(m => m.Education)
                            @Html.TextAreaFor(m => m.Education, new { @class = "form-control", @rows = 2, @placeholder = "השכלה" })
                            @Html.ValidationMessageFor(model => model.Education)
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-md-offset-10 col-md-2">
            <button type="submit" class="btn btn-default">@*// create ButtonHelper with icon  *@
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;צור פרופיל
            </button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("חזרה לדף הבית", "Index", "Home")
</div>


