@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>

@if (Model.Count > 0)
{
    <h4>אפשרויות התחברות חיצוניות</h4>
    <table class="table">
        <tbody>
            @foreach (var account in Model)
            {
                String image = @account.LoginProvider + ".png";
                <tr>
                    <td><img src="/Images/@image" width="70" height="70" style="" /></td>
                    <td>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("loginProvider", account.LoginProvider)
                                @Html.Hidden("providerKey", account.ProviderKey)
                                <button type="submit" class="btn btn-danger" title="הסר את חשבון ה- @account.LoginProvider מרשימת ההתחברות לאתר">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;לחץ להסרה
                                </button>
                            </div>
                            }
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
