@model TeachMe.Models.ManageUserViewModel

<p class="text-info">
    אין לך שם משתמש וסיסמא באתר. הוסף חשבון מקומי כדי להתחבר ללא חשבון חיצוני.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>צור חשבון מקומי</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="צור סיסמא" class="btn btn-default" />
        </div>
    </div>
}
