@model TeachMe.Models.ManageUserViewModel

<p class="text-info">
    אין לך שם משתמש וסיסמא באתר. הוסף חשבון מקומי כדי להתחבר ללא חשבון חיצוני.
</p>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="reg-header">
                <h2>צור חשבון מקומי</h2>
            </div>
            @Html.ValidationSummary()
            <span class="color-red">*</span> @Html.LabelFor(m => m.NewPassword)
            <div class="margin-bottom-20">
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <span class="color-red">*</span> @Html.LabelFor(m => m.ConfirmPassword)
            <div class="margin-bottom-20">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="row">
                <div class="col-lg-4 text-left">
                    <button class="btn-u" type="submit"><span class="glyphicon glyphicon-save"></span>&nbsp;צור סיסמא</button>
                </div>
            </div>
        }
    </div>
</div>