@model TeachMe.Models.LoginViewModel
@{
    ViewBag.Title = "כניסה";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="fa fa-sign-in color-green"></i> &nbsp;@ViewBag.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "reg-page", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="reg-header">
                    <h2>כניסה באמצעות חשבון TeachMe</h2>
                </div>
                @Html.ValidationSummary(true)
                <div class="margin-bottom-20">
                    <div class="input-group" dir="ltr">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "שם משתמש", @dir = "rtl" })
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="margin-bottom-20">
                    <div class="input-group" dir="ltr">
                        @Html.TextBoxFor(m => m.Password, new { @type="password", @class = "form-control", @placeholder = "סיסמא", @dir = "rtl" })
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn-u pull-left" type="submit">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;כניסה
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "pull-right", @style = "margin-left:10px" })
                            @Html.LabelFor(m => m.RememberMe)

                        </div>
                    </div>
                </div>

                <hr>
                <p>
                    @Html.ActionLink("הירשם", "Register") אם אין לך חשבון TeachMe באתר.
                </p>
                <p>@Html.ActionLink("שכחת את הסיסמא?", "ResetPassword")</p>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="reg-page">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
