@model TeachMe.Models.RegisterViewModel
@{
    ViewBag.Title = "הרשמה";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="fa fa-pencil-square-o color-green"></i> &nbsp;@ViewBag.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-page", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="reg-header">
                    <h2>יצירת חשבון חדש</h2>
                    <p>אם יש לך כבר חשבון, תוכל  <a href="/Account/Login" class="color-green">להכנס כאן</a> </p>
                </div>
                @Html.ValidationSummary(true)
                <span class="color-red">*</span> @Html.LabelFor(m => m.FirstName)
                <div class="margin-bottom-20">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>

                <span class="color-red">*</span> @Html.LabelFor(m => m.LastName)
                <div class="margin-bottom-20">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <span class="color-red">*</span> @Html.LabelFor(m => m.UserName)
                <div class="margin-bottom-20">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <span class="color-red">*</span> @Html.LabelFor(m => m.ConfirmPassword)
                        <div class="margin-bottom-20">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <span class="color-red">*</span> @Html.LabelFor(m => m.Password)
                        <div class="margin-bottom-20">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-4 text-left">
                        <button class="btn-u" type="submit"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;הירשם</button>
                    </div>
                    <div class="col-lg-8">
                        <label class="checkbox">
                            <input type="checkbox" class="pull-right" style="margin-left:10px">
                            אני מסכים עם <a href="#" class="color-green">הסכם ותנאי שימוש באתר</a>
                        </label>
                    </div>

                </div>
            }
        </div>
    </div>
<br />
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="reg-page">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

