@model TeachMe.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "שחזור סיסמה";
}

<h2>שחזור סיסמה</h2>
<p></p>
<p>יש להזין את כתובת הדוא&quotל שאיתו נרשמת לאתר ונשלך אליך קישור לשחזור סיסמה</p>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="שלך אלי את הקישור" />
        </div>
    </div>
}
