@model TeachMe.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "שחזור סיסמא";
}

<h2>שחזור סיסמא</h2>
<p></p>
<p>יש להזין את כתובת הדוא&quotל איתה נרשמת לאתר ונשלח אליך קישור לשחזור הסיסמא</p>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="col-md-11">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-1 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;המשך
            </button>
        </div>
    </div>
}