@model TeachMe.Models.ResetPasswordStepTwoViewModel
@{
    ViewBag.Title = "שחזור סיסמא";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="fa fa-bolt color-green"></i> &nbsp;@ViewBag.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            @using (Html.BeginForm("ResetPasswordSteptwo", "Account", FormMethod.Post, new { @class = "reg-page", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="reg-header">
                    <h2>שחזור סיסמא</h2>
                </div>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.UserId)
                <div class="margin-bottom-20">
                    <div class="input-group" dir="ltr">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "סיסמא חדשה", @dir = "rtl" })
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="margin-bottom-20">
                    <div class="input-group" dir="ltr">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "אימות סיסמא", @dir = "rtl" })
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn-u pull-left">
                            <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;שמור סיסמא חדשה
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
