@model TeachMe.Models.ResetPasswordStepTwoViewModel
@{
    ViewBag.Title = "שחזור סיסמא";
}

@using (Html.BeginForm("ResetPasswordSteptwo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>שחזור סיסמא</h4>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserId)
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;שמור סיסמא חדשה
            </button>
        </div>
    </div>
}


