@using TeachMe.Models
@using PagedList.Mvc
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@{
    ViewBag.Title = "חיפוש";
}

<h2>תוצאות חיפוש</h2>
<div class="well">
    סה"כ התקבלו @ViewBag.Count תוצאות
</div>

@* style="border: double; border-color: white;" *@
<div class="row">
    <div class=" col-md-4">
        <div class="well well-lg">
            Some related information postetd here. ex: popular search....
        </div>
        <div class="well well-lg">
            Some related information postetd here. ex: popular search....
        </div>
    </div>
    <div class="col-md-8" style="float:right">
        @if (ViewBag.Count != 0)
        {
            <div class="row" style="margin-right:10px">
                מיין תוצאות לפי: |
                @Html.ActionLink("שם פרטי", "Index", new { category = ViewBag.Category, city = ViewBag.City, firstName = ViewBag.FirstName, lastName = ViewBag.LastName, sortOrder = "firstName" }) |
                @Html.ActionLink("שם משפחה", "Index", new { category = ViewBag.Category, city = ViewBag.City, firstName = ViewBag.FirstName, lastName = ViewBag.LastName, sortOrder = "lastName" }) |
                @Html.ActionLink("מחיר מהנמוך", "Index", new { category = ViewBag.Category, city = ViewBag.City, firstName = ViewBag.FirstName, lastName = ViewBag.LastName, sortOrder = "priceUp" }) |
                @Html.ActionLink("מחיר מהגבוה", "Index", new { category = ViewBag.Category, city = ViewBag.City, firstName = ViewBag.FirstName, lastName = ViewBag.LastName, sortOrder = "priceDown" }) |
            </div>
        }
        <div class="list-group" style="margin-right:15px">
            @foreach (var item in (PagedList.PagedList<Teacher>)@ViewBag.Result)
            {
                <div class="row">

                    <div class="list-group-item">
                        <div class="row">

                            <div class="col-md-9">
                                <h4 class="list-group-item-heading">@item.FirstName @item.LastName</h4>
                                <ul class="text-warning" style="margin-right:-20px;">
                                    <li>
                                        גיל: @item.Age
                                    </li>
                                    <li>
                                        עיר: @item.City
                                    </li>
                                    <li>
                                        תחום: @item.Category
                                    </li>
                                    <li>
                                        מחיר: @item.Price
                                    </li>
                                    <li>
                                        טלפון: @item.Phone
                                    </li>
                                </ul>
                                <p style="text-align:left">
                                    <a class="btn btn-default" href="#">פרופיל המלא &raquo;</a>
                                    @Html.ActionLink("Get Geo", "Geo", new { id = @item.Id }, new { @class = "btn btn-default" })
                                </p>
                            </div>

                            <div class="col-md-3" style="padding: 0 5px 0 0;">
                                <div class="well" style="padding: 10px;">
                                    <a href="#">
                                        <span>
                                            <img src="~/Images/profile-icon.png" class="img-responsive" />
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>

        <div class="row">
            @{
                var list = (PagedList.PagedList<Teacher>)ViewBag.Result;
                if (list.PageCount > 1)
                {
                    <span style="margin-right:20px">עמוד @(list.PageCount < list.PageNumber ? 0 : list.PageNumber) מתוך @list.PageCount </span>
                }
            }
            <center dir="ltr">
                @Html.PagedListPager(list, page => Url.Action("Index", new { page, category = ViewBag.Category, city = ViewBag.City, firstName = ViewBag.FirstName, lastName = ViewBag.LastName, sortOrder = ViewBag.SortParm }))
            </center>
        </div>

    </div>
</div>