@model TeachMe.Models.MapSearchViewModel
@{
    ViewBag.Title = "חיפוש על המפה";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="glyphicon glyphicon-search color-green"></i> &nbsp;@ViewBag.Title</h2>
    </div><!--/container-->
</div>
<div class="container content">

    <div class="heading heading-v1 margin-bottom-20">
        <h2>תוצאות חיפוש</h2>
        <div class="alert alert-info fade in">
            <p> חיפוש מורה <strong>@Model.SearchFor</strong></p>
            <p>סה"כ התקבלו <strong>@Model.ResultCount</strong> תוצאות</p>
        </div>
    </div>

    <div>
        @{ var list = Model.Teachers;
         foreach (var t in list)
         {/* Build data for google maps*/
            <div class="teachmemap"
                 data-latitude="@(t.GeoLocation.Latitude)"
                 data-longitude="@(t.GeoLocation.Longitude)"
                 data-address="@(t.GetAddressForMap())"
                 data-name="@(t.GetFullName())"
                 data-id="@(t.Id)"
                 data-price="@(t.LessonPrice)"
                 data-subjects="@(t.GetSubjects())"
                 data-picture="@(t.PictureUrl)">
            </div>
         }
        }
    </div>
    <div class="headline"><h3>תוצאות על המפה</h3></div>
    <div id="map-canvas" style="width: 100%; min-height:600px; height: 100%; border: 1px solid #5E5454;"></div>

</div>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGG8Hq0jur-Ca6QtjQ0iQFQ3TJG9WzEA8&v=3.exp&sensor=true&language=he" type="text/javascript"></script>

    <script type="text/javascript">
        var mapcode;
        var map;
        function initialize() {
            @*var latlng = new google.maps.LatLng('@(((Geo)ViewBag.Geo).Latitude)', '@(((Geo)ViewBag.Geo).Longitude)');
            var myOptions = {
                zoom: 12,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
            var marker = new google.maps.Marker
            (
                {
                    position: new google.maps.LatLng('@(((Geo)ViewBag.Geo).Latitude)', '@(((Geo)ViewBag.Geo).Longitude)'),
                    map: map,
                    title: 'Click me'
                }
            );
            var contentString = '<div class="text-danger" style="width:275px">'
                + '<strong>מורה:</strong> ' + 'שם ושם משפחה' + '<br/>'
                + '<strong>כתובת:</strong> ' + '@ViewBag.Address' + '<br/>'
                + '<div style="margin-top:10px"><a class="label label-warning" href="#">פרופיל המלא »</a></div><br/>'
                + '</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                size: new google.maps.Size(250, 150)
            });
            google.maps.event.addListener(marker, 'click', function () {
                // Calling the open method of the infoWindow
                infowindow.open(map, marker);
            });*@
            markicons();
        }
        window.onload = initialize;

        function markicons() {
            var image = '/Images/map-marker.png';
            var latlng = new google.maps.LatLng('@Model.MapCenter.Latitude', '@Model.MapCenter.Longitude');
            var foos = $(".teachmemap");
            var markers = new Array();
            var mapOptions = {
                zoom: Number(@Model.MapZoom),
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var mapCanvas = document.getElementById('map-canvas');
            if (mapCanvas != null) {
                map = new google.maps.Map(mapCanvas, mapOptions);
                $.each(foos, function (key, value) {

                    markers[key] = new google.maps.Marker({
                        map: map,
                        draggable: false,
                        animation: google.maps.Animation.DROP,
                        icon: image,
                        position: new google.maps.LatLng(
                            Number($(value).attr("data-latitude")),
                            Number($(value).attr("data-longitude")
                         ))
                    });

                    var contentString = '<table><tr>'
                        + '<td><div class="text" style="width:210px">'
                        + '<strong>מורה:</strong> ' + ($(value).attr("data-name")) + '<br/>'
                        + '<strong>כתובת:</strong> ' + ($(value).attr("data-address")) + '<br/>'
                        + '<strong>מקצוע:</strong> ' + ($(value).attr("data-subjects")) + '<br/>'
                        + '<strong>מחיר השיעור:</strong> ' + ($(value).attr("data-price")) + '<br/>'
                        + '</div></td>'
                        + '<td width="55px"><img src="' + ($(value).attr("data-picture")) + '" alt="Smiley face" height="75"  class="margin-bottom-5">'
                        + '<span><a class="btn-u btn-u-xs"  href="/Teacher/' + ($(value).attr("data-id")) + '">לפרופיל »</a></span></td>'
                        + '</td></tr></table>';
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString,
                        size: new google.maps.Size(260, 165)
                    });
                    google.maps.event.addListener(map, 'click', function () {
                        if (infowindow != null)
                        { infowindow.close(); }
                    });
                    google.maps.event.addListener(markers[key], 'click', function () {
                        // If you need this...
                        infowindow.open(map, markers[key]);
                    });

                });
            }
        }

        function codeAddress() {
            var add = document.getElementById('address').value;
            mapcode.geocode({ 'address': add }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    diag.setCenter(results[0].geometry.location);
                    var hint = new google.maps.Marker({
                        diag: map,
                        position: results[0].geometry.location,
                        title: add
                    });
                    hint.setMap(diag);
                } else {
                    alert('This code is not successful ' + status);
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
