<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="float:right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TeachMe", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
               
                <ul class="nav navbar-nav navbar-right" style="float:right">
                    <li>
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control col-lg-8" placeholder="חיפוש מהיר">
                        </form>
                    </li>
                    <li>@Html.ActionLinkIcon("מי אנחנו", "About", "Home", "glyphicon glyphicon-info-sign")</li>
                    <li>@Html.ActionLinkIcon("כתבו אלינו", "Contact", "Home", "glyphicon glyphicon-comment")</li>
                    <li>@Html.ActionLinkIcon("ראשי", "Index", "Home", "glyphicon glyphicon-home")</li>
                    
                </ul>
                <span style="float:left">
                    @Html.Partial("_LoginPartial")
                </span>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - TeachMe &copy;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
