@model TeachMe.Models.MailModel
@{
    ViewBag.Title = "כתבו אלינו";
}
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-right"><i class="glyphicon glyphicon-comment color-green"></i>&nbsp; כתבו אלינו</h2>
    </div><!--/container-->
</div>
<div class="container content">
    <div class="row">
        @*<div class="col-md-10">
                <center>
                    <script type="text/javascript" language="javascript" src="http://live.sekindo.com/live/liveView.php?s=51788&subId=DEFAULT"></script>
                </center>
            </div>*@
        <div class="col-md-3">
            <div class="headline"><h2>פרטים</h2></div>
            <address>
                <strong><i class="fa fa-file-code-o"></i>&nbsp;קוד מקור:</strong>   <a href="https://github.com/matrostik/teachme.mvc.net">GitHub</a><br />
                <strong><i class="fa fa-life-ring"></i>&nbsp;תמיכה:</strong>   <a href="https://github.com/matrostik/teachme.mvc.net/issues">Issues tracker</a><br />
                <strong><i class="fa fa-info-circle"></i>&nbsp;עזרה:</strong> <a href="https://github.com/matrostik/teachme.mvc.net/wiki">Wiki</a>
            </address>
        </div>

        <div class="col-md-9 mb-margin-bottom-30">
            <div class="headline"><h2>טופס יצירת קשר</h2></div>
            <fieldset>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <label>דואר אלקטרוני (חובה):</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-5">
                            @Html.TextBoxFor(m => m.From, new { @class = "form-control", @id = "inputDefault" })
                            @Html.ValidationMessageFor(model => model.From)
                        </div>
                    </div>
                    <label>נושא (חובה):</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-5">
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @id = "inputDefault" })
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </div>
                    <label>תוכן ההודעה (חובה):</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-1">
                            @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = "8", @id = "inputDefault" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>
                    <button type="submit" class="btn-u">
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;שלח
                    </button>
                    <span class="label label-info">@ViewBag.Result</span>
                }
            </fieldset>
        </div>
    </div>
</div>