@model TeachMe.Models.MailModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Source code:</strong>   <a href="https://github.com/matrostik/teachme.mvc.net">GitHub</a><br />
    <strong>Support:</strong>   <a href="https://github.com/matrostik/teachme.mvc.net/issues">Issues tracker</a><br />
    <strong>Help:</strong> <a href="https://github.com/matrostik/teachme.mvc.net/wiki">Wiki</a>
</address>

<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <p>
            From:
            @Html.TextBoxFor(m => m.From, new { @class = "form-control", @id = "inputDefault" })
            @Html.ValidationMessageFor(model => model.From)
        </p>
        @*<p>
                To:
                @Html.TextBoxFor(m => m.To, new { @class = "form-control", @id = "inputDefault" })
            </p>*@
        <p>
            Subject:
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @id = "inputDefault" })
            @Html.ValidationMessageFor(model => model.Subject)
        </p>
        <p>
            Body:
            @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = "5", @id = "inputDefault" })
            @Html.ValidationMessageFor(model => model.Body)
        </p>
        <input type="submit" value="Send" class="btn btn-primary" />
        <span class="label label-info">@ViewBag.Result</span>
    }
</fieldset>