@model TeachMe.Models.MailModel
@{
    ViewBag.Title = "כתבו אלינו";
}

<h2>@ViewBag.Title</h2>
<h3>TeachMe יצירת קשר</h3>

<div class="row margin-bottom-30">
    @*<div class="col-md-10">
            <center>
                <script type="text/javascript" language="javascript" src="http://live.sekindo.com/live/liveView.php?s=51788&subId=DEFAULT"></script>
            </center>
        </div>*@
    <div class="col-md-3">
        <div class="headline"><h2>פרטים</h2></div>
        <ul class="list-unstyled margin-bottom-30">
            <li><a><i class="fa fa-home"></i></a><strong> קוד מקור: </strong><a href="#">GitHub</a></li>
            <li><a><i class="fa fa-home"></i></a><strong> תמיכה: </strong><a href="#">Issues tracker</a></li>
            <li><a><i class="fa fa-home"></i></a><strong> עזרה: </strong><a href="#">Wiki</a></li>
        </ul>
    </div>

    <div class="col-md-9 mb-margin-bottom-30">
        <div class="headline"><h2>טופס יצירת קשר</h2></div>
        <fieldset>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <label>דואר אלקטרוני (חובה):</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-7 col-md-offset-5">
                        @Html.TextBoxFor(m => m.From, new { @class = "form-control", @id = "inputDefault" })
                        @Html.ValidationMessageFor(model => model.From)
                    </div>
                </div>
                <label>נושא (חובה):</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-7 col-md-offset-5">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @id = "inputDefault" })
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                </div>
                <label>תוכן ההודעה (חובה):</label>
                <div class="row margin-bottom-20">
                    <div class="col-md-11 col-md-offset-1">
                        @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = "8", @id = "inputDefault" })
                        @Html.ValidationMessageFor(model => model.Body)
                    </div>
                </div>
                <button type="submit" class="btn-u">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;שלח
                </button>
                <span class="label label-info">@ViewBag.Result</span>
            }
        </fieldset>
    </div>
</div>