@model TeachMe.Models.HomeViewModel
@{
    ViewBag.Title = "TeachMe";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-4">
            <div class="breadcrumb">
                <center>
                    @*<h1>TeachMe</h1>*@
                    <p>
                        <img src="/Images/logo_no_bg.png" width="185" height="185" style="" />
                    </p>
                    <p>
                        חיפוש מורה פרטי בכל תחום ובכל מקום שתבחר
                    </p>
                    <p><a href="https://github.com/matrostik/teachme.mvc.net/wiki" class="btn btn-primary btn-large">לפרטים &raquo;</a></p>
                </center>
            </div>
        </div>
        <div class="col-md-8">

            <div class="alert alert-dismissable alert-warning">
                @using (Html.BeginForm("Map", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        @Html.Label("חיפוש לפי מיקום", new { @class = "control-label" })
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label(" 1) הכנס את מיקומך", new { @class = "text-muted" })
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-md-1">
                            </div>*@
                        <div class="col-md-2">
                            @Html.Label("מס' בית", new { @class = "control-label" })
                            @Html.TextBox("streetNum", "", new { @class = "form-control", @id = "inputDefault", @onkeypress = "return isNumber(event)" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("רחוב", new { @class = "control-label" })
                            @Html.TextBox("streetName", "", new { @class = "form-control", @id = "streetName" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label("עיר", new { @class = "control-label" })
                            @Html.DropDownList("city", @Model.Cities, "בחר עיר", new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-8">
                            @Html.Label(" 3)בחר מקצוע", new { @class = "text-muted" })
                            @Html.DropDownList("category", @Model.Subjects, "בחר תחום", new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.Label(" 2) הכנס טווח חיפוש בק\"מ", new { @class = "text-muted" })
                            @Html.DropDownList("distance", @Model.Distances, "בחר טווח", new { @class = "form-control", @style = "width:100px" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-lg-2 col-lg-offset-1">
                            <button type="submit" class="btn btn-primary" style=" width: 110px">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;חפש
                            </button>
                        </div>

                    </div>

                }
            </div>
            <div class="alert alert-dismissable alert-warning">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        @Html.Label("חיפוש לפי פרטי מורה", new { @class = "control-label" })
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("firstName", "שם פרטי", new { @class = "control-label" })
                            @Html.TextBox("firstName", "", new { @class = "form-control", @id = "inputDefault" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("lastName", "שם משפחה", new { @class = "control-label" })
                            @Html.TextBox("lastName", "", new { @class = "form-control", @id = "inputDefault" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">

                        <div class="col-lg-2 col-lg-offset-1">
                            <button type="submit" class="btn btn-primary" style=" width: 110px">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;חפש
                            </button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>קוד מקור</strong></div>
            <div class="panel-body">
                @*<h2>קוד מקור</h2>*@
                <p>
                    הפרוייקט נעשה במסגרת קורס הנדסת תוכנה בעזריאלי מכללה אקדמית להנדסה ירושלים.
                </p>
                <br>
                <p><a class="btn btn-default" href="https://github.com/matrostik/teachme.mvc.net">לפרטים &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>הצוות שלנו</strong></div>
            <div class="panel-body">
                @*<h2>הצוות שלנו</h2>*@
                <p>.We are dev ninjas</p>
                <br><br>
                <p><a class="btn btn-default" href="https://github.com/matrostik/teachme.mvc.net/wiki/Team">לפרטים &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>כתבו אלינו</strong></div>
            <div class="panel-body">
                @*<h2>כתבו אלינו</h2>*@
                <p>שתף את רצונותיך.</p>
                <br><br>
                <p><a class="btn btn-default" href="/Home/Contact">לפרטים &raquo;</a></p>
            </div>
        </div>
    </div>

    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

@Styles.Render("~/Content/jqueryui")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGG8Hq0jur-Ca6QtjQ0iQFQ3TJG9WzEA8&v=3.exp&sensor=true&language=he" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#streetName").autocomplete({
                position: { my: "right top", at: "right bottom", collision: "none" },
                source: '@Url.Action("AutocompleteStreet")'
            });
        });

        //Allow only numbers to be typed in a textbox
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        //Allow only numbers and decimal point
        function isDecimalNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
       
    </script>
}
