@model TeachMe.Models.HomeViewModel
@{
    ViewBag.Title = "TeachMe";
}
<div class="job-img">
    <div class="job-description animated fadeInDownBig">
        <h2>חיפוש מורה פרטי בכל תחום ובכל מקום שתבחר ...</h2>
    </div>
    <div class="job-img-inputs">
        <div class="container">
            <div class="heading heading-v1 animated fadeInLeftBig">
                <h2>חיפוש לפי מיקום מורה</h2>
            </div>
            <div class="animated fadeInLeftBig">
                @using (Html.BeginForm("Map", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row margin-bottom-20">
                        <div class="col-sm-4 md-margin-bottom-10">
                            <div class="input-group" dir="ltr">
                                @Html.TextBox("streetNum", "", new { @class = "form-control", @placeholder = "הכנס מס' בית", @id = "inputDefault", @dir = "rtl", @onkeypress = "return isNumber(event)" })
                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-4 md-margin-bottom-10">
                            <div class="input-group" dir="ltr">
                                @Html.TextBox("streetName", "", new { @class = "form-control", @placeholder = "הכנס רחוב", @id = "streetName", @dir = "rtl" })
                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-4 md-margin-bottom-10">
                            <div class="input-group" dir="ltr">
                                @*@Html.TextBox("lastName", "", new { @class = "form-control", @placeholder = "שם משפחה", @id = "lastName", @dir = "rtl" })*@
                                @Html.DropDownList("city", @Model.Cities, "בחר עיר", new { @class = "form-control", @dir = "rtl" })
                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn-u btn-block btn-u-dark">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;חפש מורה
                            </button>
                        </div>
                        <div class="col-sm-4 md-margin-bottom-10">
                            <div class="input-group" dir="ltr">
                                @Html.DropDownList("category", @Model.Subjects, "בחר תחום", new { @class = "form-control", @dir = "rtl" })
                                <span class="input-group-addon"><i class="fa fa-book"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-4 md-margin-bottom-10">
                            <div class="input-group" dir="ltr">
                                @Html.DropDownList("distance", @Model.Distances, "בחר טווח", new { @class = "form-control", @dir = "rtl" })
                                <span class="input-group-addon"><i class="fa fa-arrows"></i></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="heading heading-v1 animated fadeInRightBig">
                <h2>חיפוש לפי פרטי מורה</h2>
            </div>
            <div class="row animated fadeInRightBig">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="col-sm-4">
                        <button type="submit" class="btn-u btn-block btn-u-dark">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;חפש מורה
                        </button>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group" dir="ltr">
                            @Html.TextBox("lastName", "", new { @class = "form-control", @placeholder = "שם משפחה", @id = "lastName", @dir = "rtl" })
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group" dir="ltr">
                            @Html.TextBox("firstName", "", new { @class = "form-control", @placeholder = "שם פרטי", @id = "firstName", @dir = "rtl" })
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div id="teachersMostCommented" class="col-md-4 animated fadeInUpBig">
            <div class="headline"><h2>המורים הנצפים ביותר </h2></div>
            @*@foreach (var item in Model.MostCommentedTeachers)
            {
                <div class="funny-boxes funny-boxes-right-orange no-space margin-bottom-15">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 style="padding:0;margin:0"><a href="/Teacher/@item.Id">@item.User.FirstName @item.User.LastName</a></h4>
                            <ul class="list-unstyled" style="padding:0;">
                                <li><i class="fa fa-map-marker color-orange" style="width:15px;padding-right:2px"></i>  עיר: @item.City</li>
                                <li><i class="fa fa-briefcase color-orange" style="width:15px"></i> תחום: @item.GetSubjects()</li>
                                <li><i class="fa fa-money color-orange" style="width:15px"></i> מחיר: @item.LessonPrice</li>
                            </ul>
                        </div>
                        <div class="col-md-3 funny-boxes-img">
                            <a href="/Teacher/@item.Id"><img alt="" src="@item.PictureUrl" class="img-responsive rounded-2x"></a>
                        </div>
                    </div>
                </div>
            }*@
        </div>
        <div id="teachersMostRated" class="col-md-4 animated fadeInUpBig">
            <div class="headline"><h2>המורים הכי מדורגים</h2></div>
            @*@foreach (var item in Model.MostRatedTeachers)
            {
                <div class="funny-boxes funny-boxes-right-yellow no-space margin-bottom-15">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 style="padding:0;margin:0"><a href="/Teacher/@item.Id">@item.User.FirstName @item.User.LastName</a></h4>
                            <ul class="list-unstyled funny-boxes-rating" style="margin:0;padding:0">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <ul class="list-unstyled" style="padding:0;">
                                <li><i class="fa fa-map-marker color-yellow" style="width:15px;padding-right:2px;c"></i>  עיר: @item.City</li>
                                <li><i class="fa fa-briefcase color-yellow" style="width:15px"></i> תחום: @item.GetSubjects()</li>
                            </ul>
                        </div>
                        <div class="col-md-3 funny-boxes-img">
                            <a href="/Teacher/@item.Id"><img alt="" src="@item.PictureUrl" class="img-responsive img-bordered"></a>
                        </div>
                    </div>
                </div>
            }*@
        </div>
        <div id="teachersNew" class="col-md-4 animated fadeInUpBig">
            <div class="headline"><h2>מורים חדשים</h2></div>
            @*@foreach (var item in Model.NewTeachers)
            {
                <div class="funny-boxes funny-boxes-right-u no-space margin-bottom-15">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 style="padding:0;margin:0"><a href="/Teacher/@item.Id">@item.User.FirstName @item.User.LastName</a></h4>
                            <ul class="list-unstyled" style="padding:0;">
                                <li><i class="fa fa-map-marker color-green" style="width:15px;padding-right:2px"></i>  עיר: @item.City</li>
                                <li><i class="fa fa-briefcase color-green" style="width:15px"></i> תחום: @item.GetSubjects()</li>
                                <li><i class="fa fa-money color-green" style="width:15px"></i> מחיר: @item.LessonPrice</li>
                            </ul>
                        </div>
                        <div class="col-md-3 funny-boxes-img">
                            <a href="/Teacher/@item.Id"><img alt="" src="@item.PictureUrl" class="img-responsive rounded-2x"></a>
                        </div>
                    </div>
                </div>
            }*@
        </div>
    </div>
</div>

@Styles.Render("~/Content/jqueryui")
@*@Styles.Render("~/Content/irfan.rating")*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")


    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $("#streetName").autocomplete({
                position: { my: "right top", at: "right bottom", collision: "none" },
                source: '@Url.Action("AutocompleteStreet")'
            });
            $("#firstName").autocomplete({
                position: { my: "right top", at: "right bottom", collision: "none" },
                source: '@Url.Action("AutocompleteFirstName")'
            });
            $("#lastName").autocomplete({
                position: { my: "right top", at: "right bottom", collision: "none" },
                source: '@Url.Action("AutocompleteLastName")'
            });

            getNewTeachers();
            getMostRatedTeachers();
            getMostCommentedTeachers()
        });

        function getNewTeachers() {
            $.ajax({
                url: "/Home/GetNewTeachers",
                type: "Get",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        //alert(data[i].FirstName);
                        $('<div class="funny-boxes funny-boxes-right-u no-space margin-bottom-15 animated fadeInUpBig"><div class="row"><div class="col-md-9">'
                            + '<h4 style="padding:0;margin:0"><a href="/Teacher/' + data[i].Id + '">' + data[i].FirstName + ' ' + data[i].LastName + '</a></h4>'
                            + '<ul class="list-unstyled" style="padding:0;">'
                            + '<li><i class="fa fa-map-marker color-green" style="width:15px;padding-right:2px"></i>  עיר: ' + data[i].City + '</li>'
                            + '<li><i class="fa fa-briefcase color-green" style="width:15px"></i> תחום: ' + data[i].Subjects + '</li>'
                            + '<li><i class="fa fa-money color-green" style="width:15px"></i> מחיר: ' + data[i].LessonPrice + '</li>'
                            + '</ul></div>'
                            + '<div class="col-md-3 funny-boxes-img"> <a href="/Teacher/' + data[i].Id + '"><img alt="" src="' + data[i].PictureUrl + '" class="img-responsive rounded-2x"></a></div>'
                            + '</div></div>').appendTo("#teachersNew");
                    }
                },
                error: function (msg) { alert(msg); }
            });
        }

        function buildRate(rate) {
            var result = '';
            for (var i = 0; i < 5; i++) {
                result += '<a class="star';
                if (rate > i)
                    result += ' fullStar';
                result += '"></a>';
            }
            var str = '<div class="stars pull-right">'
                + result
                + '</div><br/>';
            return str;
        }


        function getMostRatedTeachers() {
            $.ajax({
                url: "/Home/GetMostRatedTeachers",
                type: "Get",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var rate = buildRate(data[i].Rating);
                        $('<div class="funny-boxes funny-boxes-right-orange no-space margin-bottom-15 animated fadeInUpBig"><div class="row"><div class="col-md-9">'
                            + '<h4 style="padding:0;margin:0"><a href="/Teacher/' + data[i].Id + '">' + data[i].FirstName + ' ' + data[i].LastName + '</a></h4>'
                            + rate
                            + '<ul class="list-unstyled" style="padding:0;">'
                            + '<li><i class="fa fa-map-marker color-orange" style="width:15px;padding-right:2px"></i>  עיר: ' + data[i].City + '</li>'
                            + '<li><i class="fa fa-briefcase color-orange" style="width:15px"></i> תחום: ' + data[i].Subjects + '</li>'
                            + '</ul></div>'
                            + '<div class="col-md-3 funny-boxes-img"> <a href="/Teacher/' + data[i].Id + '"><img alt="" src="' + data[i].PictureUrl + '" class="img-responsive rounded-2x"></a></div>'
                            + '</div></div>').appendTo("#teachersMostRated");
                    }
                },
                error: function (msg) { alert(msg); }
            });
        }


        function getMostCommentedTeachers() {
            $.ajax({
                url: "/Home/GetMostViewedTeachers",
                type: "Get",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('<div class="funny-boxes funny-boxes-right-yellow no-space margin-bottom-15 animated fadeInUpBig"><div class="row"><div class="col-md-9">'
                            + '<h4 style="padding:0;margin:0"><a href="/Teacher/' + data[i].Id + '">' + data[i].FirstName + ' ' + data[i].LastName + '</a></h4>'
                            + '<ul class="list-unstyled" style="padding:0;">'
                            + '<li><i class="fa fa-map-marker color-yellow" style="width:15px;padding-right:2px"></i>  עיר: ' + data[i].City + '</li>'
                            + '<li><i class="fa fa-briefcase color-yellow" style="width:15px"></i> תחום: ' + data[i].Subjects + '</li>'
                            + '<li><i class="fa fa-eye color-orange" style="width:15px"></i> צפיות: ' + data[i].Views + '</li>'
                            + '</ul></div>'
                            + '<div class="col-md-3 funny-boxes-img"> <a href="/Teacher/' + data[i].Id + '"><img alt="" src="' + data[i].PictureUrl + '" class="img-responsive rounded-2x"></a></div>'
                            + '</div></div>').appendTo("#teachersMostCommented");
                    }
                },
                error: function (msg) { alert(msg); }
            });
        }

        //Allow only numbers to be typed in a textbox
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        //Allow only numbers and decimal point
        function isDecimalNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

    </script>
}
