@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-4">
            <center>
                <h1>TeachMe</h1>
                <img src="/Images/teachme.jpg" width="185" height="185" style="" />
                <p>
                    חיפוש מורה פרטי בכל תחום ובכל מקום שתבחר
                </p>
                <p><a href="https://github.com/matrostik/teachme.mvc.net/wiki" class="btn btn-primary btn-large">לפרטים &raquo;</a></p>
            </center>
        </div>

        <div class="col-md-8">

            <div class="alert alert-dismissable alert-warning">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">

                        <div class="col-md-6">
                            @Html.Label("תחום הלימוד :", new { @class = "col-md-13 control-label" })
                            @Html.DropDownList("category", (List<SelectListItem>)@ViewBag.Cats, "בחר תחום", new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("עיר :", new { @class = "col-md-13 control-label" })
                            @Html.DropDownList("city", (List<SelectListItem>)@ViewBag.Cities, "בחר עיר", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-primary btn-large" value="חפש" style=" width: 100px" />
                        </div>

                    </div>


                }
            </div>
            <div class="alert alert-dismissable alert-warning">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("firstName", "שם פרטי", new { @class = "col-md-13 control-label" })
                            @Html.TextBox("firstName", "", new { @class = "form-control", @id = "inputDefault" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("lastName", "שם משפחה", new { @class = "col-md-13 control-label" })
                            @Html.TextBox("lastName", "", new { @class = "form-control", @id = "inputDefault" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-primary btn-large" value="חפש" style=" width: 100px" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>קוד מקור</h2>
        <p>
            הפרוייקט נעשה במסגרת קורס הנדסת תוכנה במכללת עזריאלי.
        </p>
        <br>
        <p><a class="btn btn-default" href="https://github.com/matrostik/teachme.mvc.net">לפרטים &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>צוות שלנו</h2>
        <p>.We are dev ninjas</p>
        <br>
        <p><a class="btn btn-default" href="https://github.com/matrostik/teachme.mvc.net/wiki/Team">לפרטים &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>כתבו אלינו</h2>
        <p>שתף את רצונותיך.</p>
        <br>
        <p><a class="btn btn-default" href="/Home/Contact">לפרטים &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>